body {
  background-color: rgba(76, 76, 76, 1); 
  font-size: large;
  font-family : Arial;  
  text-align: left;
}
fieldset {
  border: 3px solid grey;
  border-radius: 25px;
  box-shadow: inset 0 0 1em black;
  margin-right: 20%;
  margin-left: 20%;
}
input {
  border: 1px solid black;
  border-radius: 10px;
  height: 25px;
  width: 170px;
}
#message {
  border: 1px solid black;
  border-radius: 10px;
  height: 35px;
  width: 450px;
}
#div1 {
  padding-right: 20px;
}
#sender {
    margin-left: 12px;
    height: 35px;
    width: 125px;
}
#clearer {
    margin-left: 12px;
    height: 35px;
    width: 125px;
}
#chat {
    background-color: white;
    font-size: 14px;
    text-align: left;
    padding: 15px;
}
i {
    color: grey;
}
#illu1 {
    margin-left: 45%; 
}