body {
  background-color: rgba(76, 76, 76, 1); 
  font-size: large;
  font-family : Arial;
  text-align: center;
}
fieldset {
  border: 3px solid grey;
  border-radius: 25px;
  box-shadow: inset 0 0 1em black;
  margin-right: 20%;
  margin-left: 20%;
}
input {
  border: 1px solid black;
  border-radius: 10px;
  height: 25px;
  width: 170px;
}
#div1 {
  padding-right: 20px;
}
#stock{
  height: 35px;
}
#sender {
    margin-right: 17px
}
#lien_menu {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto;
    line-height:10px;
    width: 185px;
}
#lien_menu a {
    text-decoration: none;
    color: black;
}
#lien_menu:hover {
    background-color: rgba(56, 56, 56, 1);
}
#bouton {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto;
    width: 150px;
    line-height:10px;
}
#bouton a {
    text-decoration: none;
    color: black;
}
#bouton:hover {
    background-color: rgba(56, 56, 56, 1);
}
#acheter a {
    text-decoration: none;
    color: black;
}
#acheter {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto;
    width: 115px;
    line-height:5px;
}